#add {
    position: fixed;
    top: calc(var(--header-height) + 20px);
    left: 10vw;
    background: rgba(138, 82, 22, 0.7);
    padding: 8px 12px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.hover-on #add:hover {
    scale: 1.1;
}