button {
    all: unset;
    height: fit-content;
    width: fit-content;
    padding: 5px 12px;
    border-radius: 15px;
    z-index: 100000;
    text-wrap: nowrap;
    cursor: pointer;
}

/** ESCAPE  */
#popup-modal-btn {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.823);
    color: rgba(0, 0, 0, 0.649);
    transition: all 0.2s ease;
}

#popup-modal-btn.active {
    top: 20px;
    animation: bounce 1s ease 1;
    animation-delay: 0.2s;
}
/** ADD AND REMOVE  */
.add-remove-wrapper {
    position: fixed;
    top: calc(var(--header-height) + 20px);
    left: 2vw;
}

#add-btn,
#remove-btn,
#escape-remove-btn {
    background: rgba(138, 82, 22, 0.6);
    color: rgba(255, 255, 255, 0.8);
    margin-block: 10px;
}

.hover-on #add-btn:hover,
.hover-on #remove-btn:hover,
.hover-on #escape-remove-btn:hover,
#add-btn:active,
#remove-btn:active,
#escape-remove-btn:active {
    background: rgba(138, 82, 22, 0.7);
    color: rgba(255, 255, 255, 1);
    scale: 105%;
}

#add-btn:active,
#remove-btn:active,
#escape-remove-btn:active {
    scale: 108% !important;
}

button.disabled {
    font-size: small;
    cursor: not-allowed;
}

@keyframes bounce {
    0%,
    30%,
    60%,
    100% {
        top: 20px;
    }
    5% {
        top: 12px;
    }

    40% {
        top: 17px;
    }
    80% {
        top: 19.5px;
    }
}
