#escape {
    background: none;
    position: absolute;
    top: -40px;
    left: 50%;
    height: fit-content;
    width: fit-content;
    transform: translateX(-50%);
    z-index: 1000;
    border-color: white;
    color: white;
    padding: 5px 12px;
    border-radius: 15px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease;
    z-index: 100000;
}

#escape.active {
    top: 20px;
    animation: bounce 1s ease 1;
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    30%,
    60%,
    100% {
        top: 20px;
    }
    5% {
        top: 12px;
    }

    40% {
        top: 17px;
    }
    80% {
        top: 19.5px;
    }
}
