*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

:root {
    --header-height: 100px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: green;
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-image: url("../img/cork.png");
    background-position: center;
    background-size: contain;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: red;
    background-image: url("../img/wall.png");
    background-position: center;
    background-size: contain;
    z-index: 1000;
}

h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
}

main {
    margin-top: var(--header-height);
    min-height: calc(100% - var(--header-height));
    padding: 80px;
}

.notes-wrapper {
    width: 100%;
}

.note {
    background: #ffffff;
    /* 20px = 10px + 10px di .box margin */
    width: calc(100% - 20px);
    aspect-ratio: 7/9;
    margin: 10px;
    padding: 13px;
    padding-bottom: 0;
    font-size: 1.1rem;
    position: relative;
    cursor: pointer;
}

.note img:not(.pin img) {
    width: 100%;
    background: black;
    aspect-ratio: 7/8;
}

.note figcaption {
    width: 100%;
    padding-block: 10px;
}

.pin {
    width: 15%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (min-width: 576px) {
    .note {
        /* 40px = 10px + 10px + 10px + 10px di .box margin */
        width: calc((100% - 40px) / 2);
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 992px) {
    .notes-wrapper {
        max-width: 900px;
    }

    .note {
        /* 60px = (10 * 6)px di .box margin */
        width: calc((100% - 60px) / 3);
        font-size: 1.5rem;
    }
}

/** UTILITIES */
.debug {
    border: 3px solid red;
}

.debug2 {
    border: 3px solid blue;
}

.text-center {
    text-align: center;
}

.margin-inline-auto {
    margin-inline: auto;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}
